/* Write your global styles here, in SCSS syntax */
@import url("/node_modules/xterm/css/xterm.css");
body {
	min-height: 100vh;
	margin: 0;
}

#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: black;
}
